<!DOCTYPE html>
<html lang="en">
<body>

<!-- Header
================================================== -->
<div class="container">
  <div class="page-header">
    <h1>Meet the CNC Technology Works Team</h1>
  </div>
</div>
<!-- /. header -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center" id="team-bio">
      <%= image_tag "darryl.jpg", class: "img-rounded center-block", width: "auto", height: "180px", alt: "Darryl Brewer" %>
      <h2>Darryl Brewer <br><small>President and Founder</small></h2>
      <p>"This is just the beginning. CNC Technology Works is going to make a difference in the lives of youth today by improving transportation methods. Tomorrow Re-Lux seats will help us achieve our bigger vision of providing a safe haven, education, and a wide array of positive alternatives for at-risk youth."</p>
			<p><%= link_to ("Learn more about Darryl's vision " + '&raquo;').html_safe, display_mission_path, :class => "btn btn-primary", :role => "button" %></p>
			<br>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <div class="row">
	  <div class="col-lg-4">
      <%= image_tag "andrew.jpg", class: "img-rounded", width: "auto", height: "180px", alt: "Andrew Suderman" %>
      <h2>Andrew Suderman <br><small>Head of Engineering</small></h2>
      <p>"Darryl and I met by chance when he was visiting the Colorado School of Mines looking for an engineer to help make his vision a reality. His passion and the opportunity to save lives inspired me to become a part of this project."</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag "leslye.jpg", class: "img-rounded", width: "auto", height: "180px", alt: "Leslye Magallon" %>
      <h2>Leslye Magallon <br><small>Chief Executive Officer</small></h2>
      <p>"In 2013, I lost my infant niece when the car she was in was hit by a drunk driver and emergency responders couldn't get 2 month old Kataleya out of her car seat in time to save her. I'm a part of CNC Technology Works because I want to see a future of safer transportation for kids."</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag "holder.js/180x180", class: "img-rounded", width: "auto", height: "180px", alt: "Devon McGill" %>
      <h2>Devon McGill <br><small>Chief Financial Officer</small></h2>
      <p>"CNC Technology Works is just the start of many great things to come. I'm involved because I see a brighter future ahead and it starts with this project."</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div><!-- /.container -->

</body>
</html>
