<!DOCTYPE html>
<html lang="en">
<body>

<!-- Header
================================================== -->
<div class="container">
  <div class="page-header">
    <h1>Meet the CNC Technology Works Team</h1>
  </div>
</div>
<!-- /. header -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag "andrew.jpg", class: "img-rounded", width: "auto", height: "180px", alt: "Andrew Suderman" %>
      <h2>Andrew Suderman <br><small>Lead Engineer</small></h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag "darryl.jpg", class: "img-rounded", width: "auto", height: "180px", alt: "Darryl Brewer" %>
      <h2>Darryl Brewer <br><small>Title</small></h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag "holder.js/180x180", class: "img-rounded", width: "auto", height: "180px", alt: "Johnathan ?" %>
      <h2>Johnathan <br><small>Title</small></h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-lg-4 col-lg-offset-1">
      <%= image_tag "leslye.jpg", class: "img-rounded", width: "auto", height: "180px", alt: "Leslye Magallon" %>
      <h2>Leslye Magallon <br><small>Title</small></h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 col-lg-offset-2">
      <%= image_tag "holder.js/180x180", class: "img-rounded", width: "auto", height: "180px", alt: "Devon McGill" %>
      <h2>Devon McGill <br><small>Title</small></h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div><!-- /.container -->

</body>
</html>
