<!DOCTYPE html>
<html>
<head>
  <title>CNC Technology Works</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" media="all" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
</head>
<body>

<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "CNC Technology Works", root_path, :class => "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="<%= 'active' if params[:action] == 'mission' %>"><%= link_to "Mission", display_mission_path %></li>
            <li class="<%= 'active' if params[:action] == 'who' %>"><%= link_to "Team", display_who_path %></li>
            <li class="<%= 'active' if params[:action] == 'product' %>"><%= link_to "Re-Lux", display_product_path %></li>
            <li class="<%= 'active' if params[:action] == 'sponsor' %>"><%= link_to "Sponsors", display_sponsor_path %></li>
            <li id="contact-li" class="<%= 'active' if params[:action] == 'contact' %>"><a href="#" onclick="$('#contact-alert').show()">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<%= render 'contact' %>

<%= yield %>

	<div class="container marketing">
      <!-- FOOTER -->
      <footer>
		<hr style="margin-top:50px;">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 CNC Technology Works</p>
      </footer>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- <script src="/assets/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="holder.js"></script>

</body>
</html>
